<app-header></app-header>
<!-- header -->
<section id="hiro">
  <h6>Best Medical Clinic</h6>
  <h1><Strong>Bringing Health  </Strong>To</h1>
  <h1>Life For The Whole Family...</h1>
  <button>Get appointment</button>
</section>
<!--body -->

<section id="body">
   <h4>We Offer Specialized</h4>
   <h2>Orthopedics To Meet Your Needs</h2>
   <div class="carde">
      <div class="carde-single">
         <img src="assets/homeimage/1.png" alt="">
         <div class="cd-bpdy">
            <p>
               Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                 Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
            </p>
         </div>
      </div>
      <div class="carde-single">
         <img src="assets/homeimage/1.png" alt="">
         <div class="cd-bpdy">
            <p>
               Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                 Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
            </p>
         </div>
      </div>
      <div class="carde-single">
         <img src="assets/homeimage/1.png" alt="">
         <div class="cd-bpdy">
            <p>
               Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                 Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
            </p>
         </div>
      </div>
      <div class="carde-single">
         <img src="assets/homeimage/1.png" alt="">
         <div class="cd-bpdy">
            <p>
               Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                 Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
            </p>
         </div>
      </div> 

   </div>
</section>



